@import "var";
@import "normalize";

body{
    font-weight: 300;
    font-family: Lato, sans-serif;
    font-size: 17px;
    color: #1a1a1a;
}
.wrapper{
    z-index: 2;
    position: relative;
}
.bg{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-image: $img_background;
    background-size: 100vh;
    background-position: right;
    background-repeat: no-repeat;
}
.slide{
    height: 100vh;
    border-bottom: 1px solid #f1f1f1;
}

.slide:nth-child(even){
    background-color: $even_slide_background;
}
.slide:nth-child(odd){
    background: $odd_slide_background;
}

.special{
    position: relative;
    background-color: white !important;
    > * {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .back{
        z-index: 1;
        img{
            position: absolute;
            right: -02%;
            width: 90%;
            top: -1%;
        }
    }
    .caption{
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        top: 0;
        .cap_content{
            width:40%;
            padding: 2em 0;
            text-align: center;
        }
    }
}

// Nav
.page_nav{
    transition: height 0.6s ease, top 0.3s ease;
    position: fixed;
    top: 50px;
    z-index: 4;
    font-size: 110%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    nav{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        a{
            margin: 0 15px ;
        }
        a:hover{
            opacity: 0.8;
            color: #e3d202;
        }
    }
    .logo{
        img{

            width: 100px;
        }
        .invisible{
            visibility: hidden;
            transform: scale(0);
            transition: transform 0.5s ease;
            display: none;
            font-family: Ubuntu, sans-serif;
            font-weight: 200;
            font-style: italic;
        }
    }
}
.float{
    background-color: #1a1a1a;
    color: white;
    height: 50px;
    top: 0;
    border-bottom: 1px solid #f1f1f1;
    .logo{
        img{
            display: none;
        }
        .invisible{
            visibility: visible;
            transform: scale(1);
            display: block;
        }
    }
    nav{
        a:hover{
            opacity: 0.8;
        }
    }
}
