@import "var";
@import "normalize";

body{
    font-weight: 300;
    font-family: Lato, sans-serif;
    font-size: 17px;
    color: #1a1a1a;

}
.wrapper{
    z-index: 2;
    position: relative;
    background-color: rgba(255,255,255,0.9);
}
.bg-images{
    @extend .flex-center;
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 3;
    bottom: 0;
    img{
        height: 80%;
    }

}
.contact{
    position: absolute;
    z-index: 5;
    box-shadow: 2px 2px 5px #f1f1f1 inset;
    background:  white;
    width:  100%;
    height: 50px;
    justify-content: space-between;
    padding: 0 15%;
    display:  flex;
    align-items:  center;
    border-bottom: 1px solid #f3f3f3;
}
.bg{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(/img/pattern.svg);
}
.slide{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
}

.slide:nth-child(even){
}
.slide:nth-child(odd){
    background-color: white;
}

.special{
        background-color: white;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 900'%3E%3Cpath fill='#F9F9F8' d='M0 504 0 899 1600 899 1603 120z'/%3E%3Cpath fill='#F7F7F3F7' d='M1600 567 1600 899 0 899 0 165z'/%3E%3Cpath fill='#f3f3f3' d='M0 680 0 899 1600 899 1600 300z'/%3E%3Cpath fill='#f1f1f1' d='M1600 719 1600 899 0 899 0 353z'/%3E%3Cpath fill='#e8e8e8' d='M0 788 0 899 1600 899 1600 625z'/%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    h1{
        font-weight: 200;
        font-size: 250%;
    }
    > *{
        margin: 15px 0;
    }
}

// Nav
.page_nav{
    transition: height 0.6s ease, top 0.3s ease;
    position: fixed;
    top: 50px;
    z-index: 4;
    font-size: 110%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    nav{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        a{
            margin: 0 15px ;
        }
        a:hover{
            opacity: 0.8;
            color: #bd1355ff;
        }
    }
    .logo{
        img{
            transition: transform 0.5s ease;
            transform: scale(1);
            width: 90px;
        }
        .invisible{
            visibility: hidden;
            transform: scale(0);
        }
    }
}
.float{
    background-color: white;
    height: 50px;
    top: 0;
    border-bottom: 1px solid #f1f1f1;
    .logo{
        img{
            transform: scale(0);
            display: none;
        }
        .invisible{
            visibility: visible;
            transform: scale(1);
            display: block
        }
    }
    nav{
        a:hover{
            opacity: 0.8;
        }
    }
}
